<div class="container">
	<div class="row">
		<div class="col-xs-3">
				<h2>User info</h2>
				<%= render 'users/profile', user: current_user %>

				<h2>New book</h2>
				<div id="error_explanation">
			        <% if @book.errors.any? %>
			            <h2><%= @book.errors.count %> errors prohibited this obj from being saved:</h2>
			                <ul>
			                    <% @book.errors.full_messages.each do |message| %>
			                        <li><%= message %></li>
			                    <% end %>
			                </ul>
			        <% end %>
		    	</div>
				<%= render 'books/newform', book: @book %>
		</div>


		<div class="col-xs-9">
				<h2><%= @word %>の検索結果</h2>
				<% if @users.present? %>
					<%= render 'users/users_index', users: @users %>
				<% elsif @books.present? %>
					<%= render 'books/books_index', books: @books %>
				<% end %>
		</div>

	</div>
</div>